 <div class="row">
    <div class="twelve columns">


      <div class="row">
        <div class="twelve columns show-for-small">

          <img src="http://placehold.it/1200x700&text=Mobile Header">

        </div>
      </div><br>

      <div class="row">
        <div class="twelve columns">
          <div class="row">

               <div class="new-width four mobile-four columns ">

              <h4>Ingredients</h4><hr/>
              <% @ingredients.each do |ingredient| %>
              <div class="panel ingredients">
                <h5><%= link_to "#{ingredient.name}", ingredient_path(ingredient) %></h5>

                <h6 class="subheader">
                  <%= ingredient.name %>
                </h6>

              </div>
                <% end %>
            </div>

            <div class="four mobile-two pull-two-mobile columns">
              <img src="/assets/ingredients.jpg" />
            </div>

          </div>
        </div>
      </div>
