 <div class="row">
    <div class="twelve columns">


      <div class="row">
        <div class="twelve columns show-for-small">

          <img src="/assets/Cheesecake-mobile.jpg">

        </div>
      </div><br>

      <div class="row">
        <div class="twelve columns">
          <div class="row">

               <div class="new-width four mobile-four columns ">
            <div class='ingredientscolumn'>
              <div class='recipestitle'>
              <h4>Ingredients</h4>
              <h5 class='h5link'><%= link_to '+ Ingredient', new_ingredient_path %></h5>
              <hr/>
            </div>
              <% @ingredients.each do |ingredient| %>
              <div class="panelingredients">
                <h5><%= link_to "#{ingredient.name}", ingredient_path(ingredient) %></h5>
              </div>
                <% end %>
              </div>
            </div>

            <div class="four mobile-two pull-two-mobile columns">
              <img src="/assets/ingredients.jpg" />
            </div>

          </div>
        </div>
      </div>
