 <div class="row">
    <div class="twelve columns">

    <!-- Mobile Header -->

      <div class="row">
        <div class="twelve columns show-for-small">

          <img src="http://placehold.it/1200x700&text=Mobile Header">

        </div>
      </div><br>

    <!-- End Mobile Header -->


      <div class="row">
        <div class="twelve columns">
          <div class="row">

    <!-- Shows -->

               <div class="four mobile-four columns">

              <h4>Tutorials</h4><hr/>
              <% @tutorials.each do |tutorial| %>
              <div class="panel">
                <h5><%= link_to "#{tutorial.name}", tutorial_path(tutorial) %></h5>

                <h6 class="subheader">
                  <%= tutorial.description.truncate(80) %>
                </h6>

                <h6><%= link_to 'Read More >>', tutorial_path(tutorial.id) %></h6>
              </div>
                <% end %>
            </div>

    <!-- Image -->

            <div class="four mobile-two pull-two-mobile columns">
              <img src="/assets/tutorial.jpg" />
            </div>

  <!-- End Image -->


    <!-- Feed -->



    <!-- End Feed -->

          </div>
        </div>
      </div>

    <!-- End Content -->

